{% extends "base.html" %}

{% block title %}Add new bus{% endblock %}

{% block header %}Add new bus{% endblock %}

{% block content %}
    <form action="{% url 'bus_batteries_app:add_bus' %}" method="post">
        {% csrf_token %}
        <table class="table">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td><input type="number" name="id" /></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>Number of batteries (0-{{ n }})</td>
                    <td><input type="number" name="no_of_batteries" min="0" max="{{ n }}"/></td>
                </tr>
            </tbody>
        </table>
        <input type="reset" />
        <input type="submit" value="Add bus" />
    </form>
{% endblock %}