{% extends "base.html" %}

{% block title %}Edit the bus (id={{ bus.id }}){% endblock %}

{% block header %}Edit the bus (id={{ bus.id }}){% endblock %}

{% block content %}
    <form action="{% url 'bus_batteries_app:edit_bus' bus.id %}" method="post">
        {% csrf_token %}
        <p>
            <table class="table">
                <caption>Bus info</caption>
                <tr>
                    <td>ID</td>
                    <td>{{ bus.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" value="{{ bus.name }}"/></td>
                </tr>
            </table>
        </p>
        <p>
            <table class="table table-hover">
                <caption>Batteries</caption>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Active</th>
                    <th>Remove</th>
                </tr>
                {%  for battery in bus.batteries %}
                    <tr>
                        <td>{{ battery.id }}</td>
                        <td>{{ battery.number }}</td>
                        <td>
                            {% if battery.active %}
                                <input type="checkbox" name="battery_{{ battery.id }}_active" checked />
                            {% else %}
                                <input type="checkbox" name="battery_{{ battery.id }}_active" />
                            {% endif %}
                        </td>
                        <td>
                            <input type="checkbox" name="batteries_to_be_removed" value="{{ battery.id }}" />
                        </td>
                    </tr>
                {%  endfor %}
            </table>
        </p>
        <p>Add <input type="number" value="0" name="no_of_batteries_to_be_added" min="0" max="{{ n }}"/> batteries. <br /></p>
        <p>
            <input type="reset" />
            <input type="submit" value="Save" />
        </p>
    </form>
{% endblock %}